@use "./env";

#editor-wrapper {
    overflow: scroll;

    #editor {
        width: fit-content;
    
        .row {
            font-family: "Montserrat";
            display: flex;
    
            >* {
                user-select: none;
            }

            .sq-empty {
                @include env.absSize(52px);
            }
        }
    }
}