@font-face {
	font-family: "Montserrat";
	src: url("./Montserrat-VariableFont_wght.ttf");
	font-display: swap;
}

@mixin absSize($size) {
	width: $size;
	height: $size;
	max-width: $size;
	max-height: $size;
}