#map-browser {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;

    #maps {
        width: 30%;
        display: flex;
        flex-direction: column;
    }
}