#map-browser {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;

    #maps {
        margin-top: 30px;
        width: 350px;
        display: flex;
        flex-direction: column;

        .map-card:hover {
            box-shadow: 1.5px 1.5px 1.5px 1.5px grey;
            cursor: pointer;
        }
    }

    #search-bar {
        width: 400px;
    }
}