@font-face {
	font-family: "Square Font";
	src: url("./Montserrat-VariableFont_wght.ttf");
}

@mixin absSize($size) {
	width: $size;
	height: $size;
	max-width: $size;
	max-height: $size;
}

body {
	padding: 0;
	margin: 0;

	#__next {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: right;
		overflow: scroll;

		// The map
		#game-wrapper {
			width: fit-content;
			padding: 180px;

			.row {
				font-family: "Square Font";
				display: flex;

				> * {
					user-select: none;
				}
			}

			#player {
				@include absSize(30px);
				background-color: red;
			}

			.sq {
				&-empty {
					width: 52px;
					height: 52px;
					max-width: 52px;
					max-height: 52px;
				}
			}
		}

		// The menu
		#menu {
			height: 100vh;
			position: fixed;
			left: 0px;
			padding: 20px;
			background-color: #999;
		}
	}
}