@font-face {
	font-family: "Square Font";
	src: url("./Montserrat-VariableFont_wght.ttf");
}

@mixin absSize($size) {
	width: $size;
	height: $size;
	max-width: $size;
	max-height: $size;
}

body {
	padding: 0;
	margin: 0;

	#__next {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;

		.row {
			font-family: "Square Font";
			display: flex;
	
			.sq {
				&-road,
				&-x,
				&-start {
					display: flex;
					align-items: center;
					justify-content: center;
					@include absSize(50px);
				}

				&-empty {
					@include absSize(52px);
				}
			}
		}
	}
}